.App {
  padding: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu {
  display: flex;
}

#menu .menu-structure {
  text-transform: capitalize;
}

#menu .menu-structure:not(:last-of-type) {
  margin-right: 10px;
}

#menu .menu-structure.selected{
  font-weight: 800;
}
